@font-face {
    font-family: "radio";
    src: URL("./radioland.slim.ttf");
}

.outer {
    width: 488px;
    height: 488px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 35px;
    width: 40px;
    opacity: 0;
}

.screen {
    height: 190px;
    width: 210px;

    display: flex;
    justify-content: end;
    & > p {
        margin-top: 80px;
        font-family: radio;
        font-size: 60px;
    }
}

.buttonGrid {
    width: 245px;
    &--topRow {
        display: flex;
        justify-content: end;
    }
    &--main {
        display: grid;
        margin: 7px 4px;
        grid-template-columns: repeat(5 1fr);
        grid-template-rows: repeat(3 1fr);
        column-gap: 9px;
        row-gap: 11px;
        grid-template-areas:
            "mc mr m0 m1 div"
            "percent seven eight nine mult"
            "errorbar four five six minus";
    }
    &__lower {
        display: flex;
        justify-content: space-around;
        margin-top: 9px;
        &--left {
            display: grid;
            grid-template-columns: repeat (4 40px);
            grid-template-rows: 35px 35px;
            grid-template-areas:
                "clear one two three"
                "ac zero point equals";
            gap: 9px;
        }
    }
}

#sqrt {
    height: 25px;
    margin: 5px 4px;
    grid-area: "sqrt";
}
#off {
    height: 25px;
    margin: 5px;
    grid-area: "off";
}

#mc {
    grid-area: "mc";
}
#mr {
    grid-area: "mr";
}
#m0 {
    grid-area: "m0";
}
#m1 {
    grid-area: "m1";
}
#div {
    grid-area: "div";
}

#percent {
    grid-area: "percent";
}
#seven {
    grid-area: "seven";
}
#eight {
    grid-area: "eight";
}
#nine {
    grid-area: "nine";
}
#mult {
    grid-area: "mult";
}

#errorbar {
    grid-area: "errorbar";
}
#four {
    grid-area: "four";
}
#five {
    grid-area: "five";
}
#six {
    grid-area: "six";
}
#minus {
    grid-area: "minus";
}

#clear {
    grid-area: "clear";
}
#one {
    grid-area: "one";
}
#two {
    grid-area: "two";
}
#three {
    grid-area: "three";
}

#ac {
    grid-area: "ac";
}
#zero {
    grid-area: "zero";
}
#point {
    grid-area: "point";
}
#equals {
    grid-area: "equals";
}

#sum {
    grid-area: "sum";
    height: 79px;
}
